img {
    max-width: 100%;
    vertical-align: middle;
}

section {
	padding: 45px 0;
}

.btn-primary {
    color: #fff;
    background-color: #bf0202 !important;
    border-color: #bf0202 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #a10000;
    border-color: #a10000;
}

/* -- Site header -- */

.background {
    background: #ffffff url(../images/background.png) no-repeat center center;
    height: 700px !important;
}

.logo-centered {
    margin: 15% auto;
    width: 100%;
    text-align: center;
}

.logo-centered img {
    width: 40vw;
    height: 40vh;
}

/*Second section*/

.second-section {
	height: 350px;
}


/*Third section*/

.third-section {
	background-color: #404040;
	color: #fff;
	padding-bottom: 85px;
}

h2 {
	font-weight: 300
}

.third-section i {
	font-size: 1.8em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 1.2em;
    border: 1px solid #eaeced;
    background: #ededed;
    color: #bf0202;
}

.third-section .row {
	margin-top: 25px; 
}

/*Fourth section*/

.fourth-section {
	background-color: #d9d9d9;
}

.fourth-section p {
	padding-top: 15px;
	padding-bottom: 45px
}
