img {
    max-width: 100%;
    vertical-align: middle;
}

section {
    padding: 45px 0;
}

.navbar {
    margin-bottom: 0;
    color: #fff !important;
}

.navbar-default {
    background-color: #bf0202;
    border-color: #bf0202;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-brand img {
    width: 100px;
}

.btn-primary {
    color: #fff;
    background-color: #bf0202 !important;
    border-color: #bf0202 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #a10000;
    border-color: #a10000;
}


/* -- Site header -- */

.background {
    background: #ffffff url(../images/background.png) no-repeat center center;
    height: 700px !important;
}

.logo-centered {
    margin: 1% auto;
    width: 100%;
}

.logo-centered img {
    width: 40vw;
    height: 40vh;
}

.logo-centered p {
    color: #fff;
}

.logo-centered .btn {
    margin-top: 25px;
}

/*background section*/
.background .col-md-6 p {
    font-size: 2.5em;
}

.col-md-6 j{
  font-size: 3.5em;
  color:#fff;
}


/*Second section*/

.second-section {
    height: 350px;
}


/*Third section*/

.third-section {
    background-color: #404040;
    color: #fff;
    padding-bottom: 85px;
}

h2 {
    font-weight: 300
}

.third-section i {
    font-size: 1.8em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 1.2em;
    border: 1px solid #eaeced;
    background: #ededed;
    color: #bf0202;
}

.third-section .row {
    margin-top: 25px;
}


/*Fourth section*/

.fourth-section {
    background-color: #d9d9d9;
}

.fourth-section p {
    padding-top: 15px;
    padding-bottom: 45px
}

.red-footer {
    background-color: #bf0202;
    color: #fff;
    padding: 35px 0;
}
#light-footer {
    /*height: 150px;*/
}
footer {
    padding-top: 35px;
}

footer ul {
    list-style: none;
    font-size: 2em;
    padding-left: 0 ;
}
footer li {
    float: left;
    padding-right: 8px;
}

footer i {
  color: #bf0202;
}

footer j {
  color: rgb(59, 89, 152);
}

footer img {
    width: 120px;
}
footer .footer-contato {
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}
.third-section .text-center h2 {
    font-size: 1.7em;
}

footer h5{
  padding-top: 12px;
  color:#000;
}

footer .modal-title {
  color:#bf0202;
}

/*Video upload*/

.load {
    display: none;
}

.btn>span {
    padding-right: 5px;
}

.addfile {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.addfile input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.absolute {
    position: absolute;
    top: 0px;
    width: 100% !important;
}

.form-view {
    padding-top: 15%;
}

.form-header {
    padding-bottom: 25px;
}

.form-header i {
    font-size: 6.8em;

}

.video-selected video {
    max-width: 500px !important;
}

.video-selected i {
    position: relative;
    left: 180px;
    top: -15px
}

.preview video {
    max-width: 300px !important
}

.progress {
    margin: 10px 0;
}

.progress .progress-extended {
    margin-top: 5px;
}
